.back-style {
  color: black;
}

.h-style {
  font-size: 10vh;
  font-weight: normal;
  overflow: visible;
  text-align: center;
  font-weight: 30px;
  margin-top: 0px;
}

.row-margin {
  margin-top: 90%;
}
